
#modalOverlay
{

  position:absolute;
  z-index:9000;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
  display : none;

}

#modalHMPIL
{

  z-index:10000;
  padding-left: 20px;
  position: absolute;
  width: 60%;
  height : 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
  display : none;
	
}

.lPadding60px
{
	
	padding-left: 20px;
	
}

#widgetFindAClinic
{
	
	position : absolute;
	top : 100px;
	left : 100px;
	padding : 16px;
	z-index : 2;
	width : 170px;
	height : 180px;
	background-color: white;
	opacity: 1;
	border: solid 1px #cccccc;
	display : inline;
    box-shadow: 5px 5px 5px #888888;

}

#widgetClinicState1
{
	
	position : absolute;
	top : 100px;
	left : 100px;
	padding : 16px;
	z-index : 2;
	width : 250px;
	height : 320px;
	background-color: white;
	opacity: 1;
	border: solid 1px #cccccc;
	display : none;
    box-shadow: 5px 5px 5px #888888;

}

.addressFont,.distanceFont,.waitTimeFont
{

	font-size: 20px;
	font-weight: normal;	
	
}


.btnHMPIL
{

	width : 100% !important;
	height : 36px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(#08749C, #1B558F) !important;

}

.btnFindClinic
{

	width : 138px !important;
	height : 36px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(#08749C, #1B558F) !important;

}

.btnClinicDetails
{

	width : 100% !important;
	height : 36px !important;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
/* 	background: #FFFFFF !important; 
 */	color: blue;

}

.btnCancel
{

	width : 138px !important;
	height : 36px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
	background: #FFFFFF !important; 
	color: blue;

}

.blackText
{
	
	color: black !important;
	
}

.blueText
{
	
	color: blue !important;
	
}

.btn:focus, .btn:active:focus, .btn.active:focus
{

	outline: 0 none;

}
 
.btn-primary
{

	background: #0099cc;
    color: #ffffff;

}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary
{

	background: #33a6cc;

}
 
.btn-primary:active, .btn-primary.active
{

	background: #007299;
    box-shadow: none;

}
