<form class="">
First name:<br>
<input type="text" name="firstname">
<br>
Last name:<br>
<input type="text" name="lastname">


First name:<br>
<input type="text" name="firstname">
<br>
Last name:<br>
<input type="text" name="lastname">First name:<br>
<input type="text" name="firstname">
<br>
Last name:<br>
<input type="text" name="lastname">

First name:<br>
<input type="text" name="firstname">
<br>
Last name:<br>
<input type="text" name="lastname">First name:<br>
<input type="text" name="firstname">
<br>
Last name:<br>
<input type="text" name="lastname">

</form>